:root {
  /* // Font Variables -------- fm - Font Family -- fs - Font Size -- fw - Font Weight ------- */

  --fm-body: "Jost", sans-serif;
  --fm-primary: "Jost", sans-serif;

  --fs-h1: 6.2rem;
  --fs-h2: 3rem;
  --fs-h3: 2.2rem;
  --fs-h4: 1.8rem;
  --fs-h5: 1.5rem;
  --fs-h6: 1.2rem;

  --fs-btn: 1.4rem;
  --fs-body: 1.7rem;
  --fs-icons: 1.2rem;
  --fs-topbar: 1.3rem;
  --fs-subheading: 1.5rem;

  /* // -- Line Height - lh ---------------------------------------------------------------- */

  --lh-body: 1.7;
  --lh-heading: 1.2;

  /* // Color Variables -------------------------------------------------------------------- */

  --color-scrollbar: #eee;
  --color-scrollThumb: #1a4845;

  --color-primary: #000;
  --color-secondary: #1a4845;

  --color-light-100: #fff --color-light-400: #e0e0e0;
  --color-light-800: #e0e0e0;

  --color-Dark-100: #202020;
  --color-Dark-400: #121212;
  --color-Dark-800: #000000;

  --color-text-primary: #75767c;
  --color-text-secondary: #EDF2F9;

  --color-body: #000;

  --color-footer: #000;

  /* // Dimensions Variables --------------------------------------------------------------- */

  --section-padding: 8rem;

  /* // Box Shadow ------------------------------------------------------------------------- */

  --box-shadow-lg: 0 1rem 3rem rgba(black, 0.175);
  --box-shadow-md: 0 0.5rem 1rem rgba(black, 0.15);
  --box-shadow-sm: 0 0.125rem 0.25rem rgba(black, 0.075);

  /* // ------------------------------------------------------------------------------------ */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Inherits from body element */
}

html {
  font-size: 62.5%;
  /* Always use percentages. 1rem = 10px. */
  scroll-behavior: smooth;
  /* Prevent adjustments of font size after orientation changes in iO*/
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: white;
  font-size: var(--fs-body);
  font-family: var(--fm-body);
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-scrollbar);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-scrollThumb);
}

@supports (scrollbar-color: var(--color-scrollThumb) var(--color-scrollbar)) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollThumb) var(--color-scrollbar);
  }
}