.collections-content {
   width: 81%;
   margin-top: 3rem;
}

.newsletter {
   background-color: black;

   small {
      font-size: var(--fs-topbar);
   }

   small,
   h2 {
      color: white;
   }

   figure {
      gap: 1rem;
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
   }

   .form {
      flex-basis: 55%;
   }
}

form {
   display: flex;
   margin: 2rem 0;

   input[type="email"] {
      border: 0;
      width: 60%;
      border-radius: 0.2rem;
      padding: 1.2rem 1.5rem;
   }

   input[type="email"]:focus {
      outline: none;
   }

   input[type="submit"] {
      color: white;
      cursor: pointer;
      font-size: var(--fs-btn);
      padding: 1.3rem 3rem;
      background-color: black;
      border: 1px solid white;
      transition: background-color 0.3s ease-in-out;
   }

   input[type="submit"]:hover {
      background-color: grey;
   }
}